{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "plugins": [
    "prettier-plugin-sort-json"
  ],
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": true
      }
    }
  ],
  "removeUnusedImports": false,
  "importOrder": [
    "^react",
    "^@?\\w"
  ]
}